<% present routine do |routine_presenter| %>
  <div class="column is-6-tablet is-4-desktop is-3-widescreen" id=<%= dom_id(routine) %> >
    <article class="box has-text-centered card">
      <div class="box">
        <%= routine_presenter.add_steps_image_link %>
      </div>
      <p class="title is-3 is-spaced is-marginless is-capitalized is-centered has-text-grey">
        <%= routine.title %>
      </p>
      <br>
      <div>
        <%= routine_presenter.start_routine_or_go_to_add_steps_button %>
      </div>
      <div>
        <%= routine_presenter.reports_button(extra_classes: 'is-light') %>
      </div>
      <br>
      <%= routine_presenter.secondary_links %>
    </article>
  </div>
<% end %>
