<section class="section">
  <div class="columns is-mobile is-centered">
    <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <h1 class="level-item title is-spaced is-marginless is-capitalized is-centered">I'm a Routine Flow</h1>

      <div>
          <p class="subtitle is-5 level-item">
            <%#= flow_steps.size %></strong> flow <%= "step".pluralize %>
          </p>

        <div class="buttons">
          <!-- <a class="button is-info is-fullwidth" href="new-identity.html">Cancel</a> -->
          <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
        </div>

        <div class="level-item">
            <progress class="progress is-success" value="60" max="100">60%</progress>
        </div>
      </div>

      <article class="box has-text-centered">
        <div class="box">
          <%= image_tag 'target.png' %>
        </div>
        <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
          I'm your current flow item!
        </p>
        </br>

        <div class="buttons">
          <a class="button is-large is-info is-fullwidth" href="#">Go to NEXT step</a>
        <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
        </div>
      </article>

      <div>
        <div class="box">
          <article class="media" style="align-items: center;">
            <div class="media-left">
              <figure class="image is-32x32">
                <%= image_tag 'dart.png' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level-left" style="align-items: baseline;">
                    <p class="is-size-5">I'm just another flow item!</p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="box">
          <article class="media" style="align-items: center;">
            <div class="media-left">
              <figure class="image is-32x32">
                <%= image_tag 'dart.png' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level-left" style="align-items: baseline;">
                    <p class="is-size-5">Here I go again!</p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="box">
          <article class="media" style="align-items: center;">
            <div class="media-left">
              <figure class="image is-32x32">
                <%= image_tag 'dart.png' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level-left" style="align-items: baseline;">
                    <p class="is-size-5">I'm unstoppable!</p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="box">
          <article class="media" style="align-items: center;">
            <div class="media-left">
              <figure class="image is-32x32">
                <%= image_tag 'dart.png' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level-left" style="align-items: baseline;">
                    <p class="is-size-5">Feeling the groove of it...</p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="box">
          <article class="media" style="align-items: center;">
            <div class="media-left">
              <figure class="image is-32x32">
                <%= image_tag 'dart.png' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="level-left" style="align-items: baseline;">
                    <p class="is-size-5">Let's feed those llamas in pyjamas!</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <br>

      <div class="buttons">
        <a class="button is-medium is-danger is-fullwidth" href="new-identity.html">I want to quit! Get me out of here!</a>
        <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
      </div>



    </div> <!-- end of colum -->
  </div> <!-- end of colums -->
</section>