<section class="section">
  <div class="columns is-mobile is-centered">
    <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <h1 class="level-item title is-spaced is-marginless is-capitalized is-centered"><%= @presenter.routine_flow_title %></h1>

      <div>
          <p class="subtitle is-5 level-item">
            <span><%= @presenter.remaining_flow_steps %></span>
          </p>

        <div class="level-item">
            <progress class="progress is-success" value="60" max="100"></progress>
        </div>
      </div>

      <article class="box has-text-centered">
        <div class="box">
          <%= image_tag 'target.png' %>
        </div>
        <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
          <span id="current-flow-step-title"><%= @presenter.active_flow_step_title %></span>
        </p>
        <br>
        <div class="buttons">
          <%= @presenter.finish_flow_step_button %>
        </div>
      </article>

      <div>
        <%= render @presenter.upcoming_flow_steps %>
      </div>
      <br>

    </div> <!-- end of colum -->
  </div> <!-- end of colums -->
</section>
