<section class="section">
  <div class="columns is-mobile is-centered">
    <div class="column column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
      <h1 class="level-item title is-spaced is-marginless is-capitalized is-centered"><%= @routine.title %></h1>

      <div>
          <p class="subtitle is-5 level-item">
            <strong><%= @routine_flow.flow_steps.size %></strong> flow <%= "step".pluralize %> remaining!
          </p>

        <div class="buttons">
          <!-- <a class="button is-info is-fullwidth" href="new-identity.html">Cancel</a> -->
          <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
        </div>

        <div class="level-item">
            <progress class="progress is-success" value="60" max="100">60%</progress>
        </div>
      </div>

      <article class="box has-text-centered">
        <div class="box">
          <%= image_tag 'target.png' %>
        </div>
        <p class="title is-3 is-spaced is-marginless is-capitalized is-centered">
          <span id="flow-item-current-title"><%= @routine_flow.flow_steps.first.title %></span>
        </p>
        </br>

        <div class="buttons">
          <a class="button is-large is-info is-fullwidth" href="#">Go to NEXT step</a>
        <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
        </div>
      </article>

      <div>
        <%= render @routine_flow.flow_steps[1..-1] %>
      </div>
      <br>

      <div class="buttons">
        <a class="button is-medium is-danger is-fullwidth" href="new-identity.html">I want to quit! Get me out of here!</a>
        <!-- <a class="button is-success " href="new-identity.html">Start</a> -->
      </div>



    </div> <!-- end of colum -->
  </div> <!-- end of colums -->
</section>